@import '../../sass/variables';

.about {
    &__collapses {
        margin: 50px 90px;

        @media screen and (max-width: $medium) {
            margin: 20px;
        }

        &>* {
            margin-bottom: 30px;
        }
    }
}