$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$tertiary-color: #C4C4C4;

$small: 425px;
$medium: 768px;
$big: 1300px;

$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);