@import '../../sass/variables';

.banner {
    margin: 20px 90px;
    border-radius: 20px;
    background-color: white;
    height: 260px;
    // width: 100%;

    @media screen and (max-width: $small) {
        margin: 20px;
    }

    &__bg {
        border-radius: inherit;
        height: inherit;
        object-fit: cover;
        object-position: center 70%;
        width: 100%;
    }
}