@import '../../sass/variables';

.banner {
    margin: 20px 90px;
    border-radius: 20px;
    background-color: white;
    height: 260px;
    position: relative;

    @media screen and (max-width: $medium) {
        margin: 20px;
        margin-bottom: 70px;
    }

    &.banner__mobile {
        @media screen and (max-width: $medium) {
            height: 110px;
            margin: 20px;
            margin-bottom: 30px;
        }
    }

    &__bg {
        border-radius: inherit;
        height: inherit;
        object-fit: cover;
        object-position: center 60%;
        width: 100%;
    }

    &__text-layout {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 500;

        @media screen and (max-width: $medium) {
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
    }
}