@import '../../sass/variables';

.banner {
    margin: 20px 90px;
    border: solid 1px black;
    padding: 3%;
    border-radius: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 48;

    @media screen and (max-width: $small) {
        margin: 20px;
    }
}